<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MypageEdit</servlet-name>
  	<display-name>MypageEdit</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MypageEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>formService</servlet-name>
  	<display-name>formService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.formService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>boardpost</servlet-name>
  	<display-name>boardpost</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.boardpost</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MypageEdit</servlet-name>
  	<url-pattern>/MypageEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>formService</servlet-name>
  	<url-pattern>/formService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>boardpost</servlet-name>
  	<url-pattern>/boardpost</url-pattern>
  </servlet-mapping>
</web-app>
